OPENAI_API_KEY=
ANTHROPIC_API_KEY=
TELEGRAM_BOT_TOKEN=

BIRD_ORGANIZATION_ID=
BIRD_WORKSPACE_ID=
BIRD_API_KEY=
BIRD_SIGNING_KEY=

SUPABASE_URL=
SUPABASE_KEY=

GOOGLE_API_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

AGENT_PROMPT=""