# Ignore compiled Python bytecode files
*.pyc

# Ignore Python cache directories
__pycache__/

# Ignore environment-specific settings
.env
config.yaml
config.production.yaml

# Ignore editor-specific files
.vscode/
.idea/
*.sublime-*

venv
ignore
app.log

temp.py
calls.py

# Ignore Celery-related files
celery@*

celerybeat-schedule.db
dump.rdb
celerybeat-schedule.db
