# Ignore compiled Python bytecode files
*.pyc

# Ignore Python cache directories
__pycache__/

# Ignore environment-specific settings
.env

# Ignore editor-specific files
.vscode/
.idea/
*.sublime-*

venv
ignore
app.log

temp.py

# Ignore Celery-related files
celery@*

# Ignore Redis dump file
dump.rdb