fastapi~=0.112.0
pydantic~=2.8.2
python-telegram-bot~=21.4
requests~=2.32.3
pytz~=2024.1
redis~=5.0.8
celery~=5.4.0
gunicorn==22.0.0
litellm~=1.43.0
tenacity>=8.1.0,<9.0.0
stripe~=10.7.0
supabase~=2.6.0
aiohttp~=3.10.1
postgrest~=0.16.9
minio~=7.2.8
httpx~=0.27.0
PyYAML~=6.0.2
pydantic-settings~=2.4.0
pyngrok~=7.2.0
mem0ai>=0.1.7,<0.2.dev0
uvicorn==0.30.6
weave==0.51.5